# Xcode
.DS_Store
build/
DerivedData/
*.xcuserstate
*.xcuserdata/
*.xcscmblueprint
*.xccheckout
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/*.pbxuser
*.xcodeproj/*.mode1v3
*.xcodeproj/*.mode2v3
*.xcodeproj/*.perspectivev3
*.xcodeproj/*.xcworkspace

# SwiftPM
.build/
Package.resolved
.swiftpm/

# Vim swap
*.swp
